.projectsSection {
  grid-area: projects;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  column-gap: 2em;
  row-gap: 2em;
  padding: 2ch;
  justify-content: center;
  background: linear-gradient(45deg, #5585f6, transparent);
  border-radius: 10px;
}

.projectCard {
  border-radius: 5px;
  padding: 2ch;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f0ff;
}
