.main {
  margin-top: 10vh;
  display: grid;
  grid-template-areas:
    "header"
    "projects";
}

.projectsSection {
  grid-area: projects;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  column-gap: 2em;
  row-gap: 2em;
  padding: 2ch;
  justify-content: center;
  background: linear-gradient(45deg, #5585f6, transparent);
  border-radius: 10px;
}

.largeProjectCard {
  
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  padding: 2ch;
  background-color: #f8f0ff;
}
.projectCard {
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  padding: 2ch;
  width: 200px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #f8f0ff;
  display: grid;
  row-gap:  1ch;
  grid-template-areas:
    "image"
    "title"
    "socials";
  grid-template-columns: 100%;

  > * {
    padding: 0px;
    margin: 0px
  }
  > p {
    color: black;
    font-size: small;
    display: flex;
    font-weight: 600;
    background-color: white;
    justify-content: space-around;
  }
}

.projectSocials {
  display: flex;
  column-gap: 1ch;
}
.addProjectCard {
  background: repeating-radial-gradient(white 0%, white 20%, #83a3d6 25%);
  background-size: 5% 5%;
  background-position: 0px 0px;
  justify-content: stretch;
  align-items: stretch;
  grid-template-areas: 'button';
  grid-template-columns: 100%;

  > button {
      background-color: transparent;
    color: #375aef;

  
  > p {
    color: #5585f6;
  }
}
}
.checkbox {
  justify-self: flex-start;
  height: 3ch;
  width: 3ch;
  margin: 0;
}

.subButton {
  background-color: transparent;
  background: radial-gradient(white 0%, white 60%, #83a3d6);
  color: #564f4f;
  font-weight: 490;
  border: 1px solid #564f4f;
  border-radius: 0px;
  aspect-ratio: 1;
  min-width: 100%;
  max-width: 100%;

}

.authLabel {
  justify-self: flex-start;
}


.fileUpload {
  display: grid;
  grid-template-columns: 1fr 1em 3fr;
  grid-template-rows: auto auto;
  max-width: clamp(350px, 30em, 500px);
  row-gap: 1em;

  > ul, h2 {
    grid-column: 1 / -1;
  }

  > input {
    min-height: 3ch;
    align-self: center;
  }
}

.errors {
  color: red;
  text-shadow: .5px .5px 0px purple;
  letter-spacing: .2ch;
  font-size: small;
  list-style-type: none;
  background-color: rgb(255, 196, 206);
}

.projectImage {
  max-width: 100%;
  min-width: 100%;
  aspect-ratio: 1;
}